@* @model Stripe_Integration.Areas.Admin.Models.ResetPasswordViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-top:50%">   
<h2>Reset Password</h2>

<form id="resetPasswordForm" asp-action="ResetPassword" method="post">
    <input type="hidden" name="token" value="@Model.Token" />
    <input type="hidden" name="id" value="@Model.Id" />

    <div class="mb-3">
        <label for="newPassword" class="form-label">New Password</label>
        <input type="password" id="newPassword" name="NewPassword" class="form-control" required />
    </div>

    <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input type="password" id="confirmPassword" name="ConfirmPassword" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary">Reset Password</button>
</form>
</div> *@