@{
    Layout = "/Areas/Student/Views/Shared/_Layout.cshtml";
}

<form id="editForm" asp-action="/Student/Home/ChangePassword" method="post">
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.ErrorMessage
        </div>
    }
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["SuccessMessage"]
        </div>
    }
    <div class="mb-3">
        <label for="CurrentPassword" class="form-label">Current Password</label>
        <input type="password" class="form-control" id="CurrentPassword" name="CurrentPassword" width="50%">
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        <label for="NewPassword" class="form-label">New Password</label>
        <input type="password" class="form-control" id="NewPassword" name="NewPassword" width="50%">
        <label for="ConfirmPassword" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" width="50%">
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Change Now</button>
</form>
