@{
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
 

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://source.unsplash.com/random') center/cover no-repeat;
        height: 100vh;
        color: #fff;
    }

    .admin_container {
        max-width: 800px;
        margin-top: 100px;
        text-align: center;
    }

    h1, h3 {
        color: #fff !important;
        text-align:center;
    }
</style>

<div class="admin_container">
    <h1 style="font-size: 3em; margin-bottom: 20px;">
        Dashboard
    </h1>
    <h3 style="font-size: 1.5em; margin-top: 20px;">
        Manage System Settings and User Accounts
    </h3>
</div>
